.suggested_account{

}
.label{
    font-size: 1.8rem;
    font-weight: 600;
    padding: 8px;

}
.more{
    font-size: 1.6rem;
    font-weight: 600;
    color: #fe2c55;
    padding: 8px;
    cursor: pointer;
}